<div id="quicklaunch">
    <a href="/index.md" title="open /index.md">🏠</a><br>
    <a href="/_graph" title="show graph">✻</a/><br><br>
    <a href="/_media" class="media-manager-link" title="open media manager">🖼️</a>
</div>

<script>
  const mediaLinks = document.querySelectorAll('.media-manager-link');

  mediaLinks.forEach(link => {
        link.addEventListener('click', function(event) {
        event.preventDefault();

        const baseUrl = this.getAttribute('href'); 
        const currentPath = encodeURIComponent(window.location.pathname);
        const finalUrl = `${baseUrl}?referrer=${currentPath}`;

        window.open(finalUrl, 'mediamanager_window', 'popup');
    });
  });
</script>
