#quicklaunch {
    position: fixed;
    top: 0px;
    left: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}
#quicklaunch:hover {
    opacity: 1.0;
}
#quicklaunch a {
    margin-left: 0.3em;
    text-decoration: none;
}
@media (hover: hover) {
    #quicklaunch {
        opacity: 0.3;
    }
}
@media (max-width: 700px) {
    #quicklaunch {
        left: auto;
        right: 0px;
        text-align: center;
    }
}

