#quicklaunchbar {
    position: fixed;
    top: 0px;
    left: 0px;
    text-decoration: none;
    font-size: 24px;
}
#quicklaunchbar:hover {
    opacity: 1.0;
}
#quicklaunchbar a {
    margin-left: 0.3em;
}
@media (hover: hover) {
    #quicklaunchbar {
        opacity: 0.3;
    }
}
@media (max-width: 700px) {
    #quicklaunchbar {
        left: auto;
        right: 0px;
        opacity: 1.0;
    }
}

