<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[{{ NOTEBOOK_NAME }}] {{ title }}</title>
    <script src="/static/main.js"></script>
    <script>

        function formatDate(thedate) {
            const dateParts = {
                month: `${thedate.getMonth() + 1}`.padStart(2, '0'),  /* Month range is [0,11]. Force 2 digits in numbers. */
                day: `${thedate.getDate()}`.padStart(2, '0'),
                year: thedate.getFullYear(),
                hours: `${thedate.getHours()}`.padStart(2, '0'),
                minutes: `${thedate.getMinutes()}`.padStart(2, '0'),
                seconds: `${thedate.getSeconds()}`.padStart(2, '0'),
            };

            return `${dateParts.year}-${dateParts.month}-${dateParts.day} ${dateParts.hours}:${dateParts.minutes}:${dateParts.seconds}`;
        }

        function setClipboardNewEntry(new_entry_tags_str) {
            const new_entry_title = window.prompt('entry title:');
            if (new_entry_title !== null) {
                setClipboard('{{ ENTRY_PREFIX }}' + formatDate(new Date()) + ' ' + new_entry_title + '\n' + (new_entry_tags_str === null ? '' : (new_entry_tags_str + '\n\n')));
                return true;
            }
            return false;
        }

        function openEntryInEditor(event, entryId, new_entry_tags_str) {
            if (setClipboardNewEntry(new_entry_tags_str=new_entry_tags_str)) {
                openInEditor(event=event, thetype='page', entryId=entryId);
            }
        }

    </script>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/quicklaunch.css">
</head>
<body>

    {% if QUICKLAUNCH_HTML %}
    {{ QUICKLAUNCH_HTML | safe }}
    {% else %}
    {% include "quicklaunch.html" ignore missing without context %}
    {% endif %}

    <div id="tag-selector">
      <div class="pill clickable" title="click to copy reference to this wiki page" onclick="setClipboard('[{{ title }}]({{ title }})')">🔗 {{ title }}</div>
      <span id="controlstoggle" onclick="toggleControls()">hide</span>
      <div id="controls">
        <form id="tagForm" method="GET" action="/{{ mypath if mypath is not none }}#journal_entries">
            <strong>From - To</strong>
            <div class="date-range">
                <div class="date-inputs">
                    <input type="date" name="start" id="start_date" value="{{ start }}" onchange="this.form.submit()">
                    <input type="date" name="stop" id="end_date" value="{{ stop }}" onchange="this.form.submit()">
                </div>
            </div>

            <!-- search input -->
            <strong>Search</strong>
            <div style="margin-bottom:10px;">
                <input type="search" name="q" id="q" placeholder="Search (regular expression)" value="{{ q | e }}" onchange="this.form.submit()">
                {% if regex_error %}
                <div style="color:#b00020; font-size:0.9em; margin-top:6px;">Invalid regular expression</div>
                {% endif %}
            </div>

            {% if new_entry_tags_str is none %}
            <strong>Tags</strong>
            {% else %}
            <strong class="clickable" title="click to copy page tag + selected tags to clipboard: {{ new_entry_tags_str }}" onclick="setClipboard('{{ new_entry_tags_str }}')">🏷 Tags</strong>
            {% endif %}

            {% if all_tags | length == 0 %}
            <div>No tags available</div>
            {% else %}
            <div class="tag-list">
            {% set tag_max_value = tag_counts.values()|max %}
            {% for tag in all_tags %}
                {% set tag_weight = 0 if tag_max_value == 0 else tag_counts.get(tag, 0)/tag_max_value %}
                <input id="tag-checkbox-{{ tag }}" type="checkbox" name="tags" value="{{ tag }}" {% if tag in selected_tags %}checked{% endif %} onchange="submitFormPreservePage(null)"><label for="tag-checkbox-{{ tag }}" style="font-size:{{ 0.7+tag_weight*0.7 }}rem;">{{ tag }}</label>{% if tag not in selected_tags %} <span class="tag-count" id="tag-count-{{ tag }}">{{ tag_counts.get(tag, 0) }}</span>{% endif %}<br>
            {% endfor %}
            </div>
            {% endif %}
        </form>

        <div id="toc">
        <strong>ToC</strong>
        {% for level, text in headings %}
            <div class="toc-level-{{ level }}"><a href="#heading-{{ loop.index0 }}">{{ text }}</a></div>
        {% endfor %}
        <div class="toc-level-2"><a href="#journal_entries">journal entries</a></div>
        </div>
    </div>
    </div>

{% if mypath_content is not none %}
<div id="mypath_content" ondblclick="openInEditor(event=event, thetype='page', entryId='{{ mypath }}')">
{{ mypath_content | safe }}
</div>
{% endif %}

<h2 id="journal_entries" title="double-click to copy entry template to clipboard and open editor (hold shift for alt editor)" ondblclick="openEntryInEditor(event=event, entryId='{{ latest_journal_page }}', new_entry_tags_str={% if new_entry_tags_str is none %}null{% else %}'{{ new_entry_tags_str }}'{% endif %})">🏷 journal entries{% if related_tags is not none and related_tags | length > 0 %} <span style="margin-left: 2em; font-weight: bold;font-size: small">related tags: {{ related_tags | join(" | ") }}</span>{% endif %}</h2>

    {% set current_date_ns = namespace(current_week=none) %}
    {% for entry in entries | sort(attribute='date', reverse=true) %}
        {% set entry_week = entry.date.isocalendar()[1] %}
        {% if current_date_ns.current_week != entry_week %}
    <hr class="hr-text" data-content="CW{{ entry_week }}">
    {% set current_date_ns.current_week = entry_week %}
    {% endif %}
        <div class="entry{% if "archived" in entry.tags %} archived{% endif %}" id="{{ entry.date.strftime(JS_ENTRY_ID_FORMAT) }}" data-tags="{{ ' '.join(entry.tags) }}" data-rel-path="/{{ entry.rel_path.as_posix() }}" data-datestr="{{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}" data-line-no="{{ entry.pos }}" data-location="{{ entry.location }}">
            {{ entry.content | safe }}
            <p>Tags:
            {% for tag in entry.tags | sort %}
            {% if tag == NO_ADDITIONAL_TAGS or tag == "untagged" %}
                <span class="tag-pill">{{ tag }}</span>
            {% else %}
                {% set tag_wiki_page_entry = tagWikiPages[tag] %}
                {% set tag_wiki_page_prefix = "🗏 " if tag_wiki_page_entry[1] else "" %}
                <span class="tag-pill"><a class="taglink" href="{{ tag_wiki_page_entry[0] }}">{{ tag_wiki_page_prefix }}{{ tag }}</a>
                <span class="tag-remove" onclick="removeTag(this, '/{{ entry.rel_path.as_posix() }}', '{{ entry.date.strftime(JS_ENTRY_ID_FORMAT) }}', '{{ tag }}')" title="click to remove tag '{{ tag }}' from entry">🗑️</span>
                </span>
            {% endif %}
            {% endfor %}
            </p>
        </div>
        {% endfor %}

</body>
</html>

