<div id="quicklaunchbar">
    <a href="/index.md" title="open /index.md">🏠</a><br>
    <a href="/_journal" title="open journal">✍</a><br><br>
    <a href="/inbox.md" title="open inbox">📥</a><br>
    <a href="/TODO.md" title="open TODO">✅</a><br>
    <a href="/Ziele.md" title="open Ziele">📅</a><br><br>
    <a href="javascript:window.open('/_media', 'mediamanager_window', 'popup')" title="open media manager">🖼️</a><br>
    <a href="javascript:window.open('/encrypt.html', 'encrypt_window', 'popup')" title="basic encrypt/decrypt">🔒</a><br>
</div>
